image: beagle/sphinx-build-env:latest

stages:
  - deploy

cache:
  paths:
    - public
    - public/0.0.7

pages:
  stage: deploy
  script:
  - sphinx-build -b html . public
  - sphinx-build -M latexpdf . public
  - mv public/latex/beagleboard-docs.pdf public/
  artifacts:
    paths:
    - public
  only:
    - main
    - 0.0.7
