image: beagle/sphinx-build-env:latest

stages:
  - deploy

pages:
  stage: deploy
  script:
  - pip install sphinx_design
  - sphinx-build -b html . public
  - sphinx-build -M latexpdf . public
  - mv public/latex/beagleboard-docs.pdf public/
  artifacts:
    paths:
    - public
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
